*{padding:0;margin:0}html,body{width:100%;height:100%;overflow:hidden;background:#7abcff;background:linear-gradient(to bottom,rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%)}#happyGary{position:absolute;width:100%;top:50%;font-family:Roboto,Arial;font-size:35.5vmin;text-align:center;-webkit-animation:happyGary 1.255s infinite steps(2);animation:happyGary 1.255s infinite steps(2);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}#garyMusic{position:absolute;left:10px;top:10px;z-index:10000}@-webkit-keyframes happyGary {
    0% { -webkit-transform: translate(0, -50%); }

    24.9999% { -webkit-transform: translate(0, -50%); }
    25% { -webkit-transform: translate(-0.88vmin, calc(-50% + 3.5vmin)); }

    49.9999% { -webkit-transform: translate(0, -50%); }
    50% { -webkit-transform: translate(0, -50%) scaleX(-1); }

    74.9999% { -webkit-transform: translate(0, -50%) scaleX(-1); }
    75% { -webkit-transform: translate(0.88vmin, calc(-50% + 3.5vmin)) scaleX(-1); }

    99.9999% { -webkit-transform: translate(0, -50%) scaleX(-1); }
    100% { -webkit-transform: translate(0, -50%); }
}@keyframes happyGary {
    0% { transform: translate(0, -50%); }

    24.9999% { transform: translate(0, -50%); }
    25% { transform: translate(-0.88vmin, calc(-50% + 3.5vmin)); }

    49.9999% { transform: translate(0, -50%); }
    50% { transform: translate(0, -50%) scaleX(-1); }

    74.9999% { transform: translate(0, -50%) scaleX(-1); }
    75% { transform: translate(0.88vmin, calc(-50% + 3.5vmin)) scaleX(-1); }

    99.9999% { transform: translate(0, -50%) scaleX(-1); }
    100% { transform: translate(0, -50%); }
}